body {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;

  background-image: linear-gradient(90deg, #1687f7, #9a16f7);
}

section > div:first-child {
  display: flex;
  justify-content: right;
}

#container-principal {
  display: flex;
  justify-content: center;
}

#cotainer-do-formulario {
  min-width: 200px;
  width: 30%;

  background-color: white;

  padding: 3%;
  border: 0px solid black;
  border-radius: 25px;
}

#titulo {
  text-align: center;

  margin-bottom: 20px;
}

.label {
  font-size: 14px;
}

.input {
  border: none;
  border-bottom: 2px solid gray;
  background-color: white;

  width: 100%;
  height: 30px;
  margin: 0 0 20px 0;
}

.input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#escolher-ficheiro {
  margin: 0 0 20px 0;
}

#error-message {
  margin-bottom: 20px;
  text-align: right;
  color: gray;
}

#signup-botao {
  width: 100%;
  min-height: 40px;

  background-image: linear-gradient(90deg, #1687f7, #9a16f7);

  border: none;
  border-radius: 25px;
}

#signup-botao:hover {
  cursor: pointer;
}

.incluir-asterisco {
  position: relative;
  width: 100%;
}

#senha {
  position: relative;
  width: 100%;
}

.incluir-asterisco-2 {
  position: absolute;
  top: 5px;
  right: 10px;
}

.error-red {
  color: red;
}

#password {
  display: flex;
}

.material-symbols-outlined {
  cursor: pointer;
}
